.experience-page {
    padding-left: 8%;
    padding-right: 50px;
    width: calc(100% - 150px);
    position: initial;
    height: 100%;
    overflow: auto;

    h1.page-title {
        margin-top: 100px;
    }

    

   
}