html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #0F0F3B; */
  overflow: hidden;
  display: block;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    rgba(36, 32, 56, 1) 0%,
    rgba(15, 15, 59, 1) 25%,
    rgba(10, 36, 99, 1) 51%,
    rgba(15, 15, 59, 1) 100%
  );
  animation: AnimateBG 20s ease infinite;
}
@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.dashboard {
  margin-top: 200px;
  margin-left: 200px;
}

@media screen and (max-width: 1200px) {
  body {
    overflow: visible;
  }
}
